*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    min-height: 100vh;
    background: url("animals4.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.banner{
    width: 100%;
    height: 100%;
    background-image: url("animals4.jpg");
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}

.gradina{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.gradina h1{
    font-size: 60px;
    margin-top: 80px;
}

.gradina p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #2c2c2c;
    background: transparent;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 650px){
    .gradina{

        margin-top: 10rem;
    }

  }
