*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner{
  width: 100%;
  height: 100%;
  background-image: url("../Img/animals4.jpg");
  background-size: cover;
  background-position: center;
}

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.navbar ul li a{
  text-decoration: none;
  color:white;
  text-transform: uppercase;
}
  

.card{
     width: 20%;
        background: rgb(255, 255, 255);
        display: inline-block;
        box-shadow: 2px 2px 20px black;   
        border-radius: 5px; 
        margin: 2%;
       }
   
.image img{
  width: 100%;
  border-top-right-radius: 5px;
 border-top-left-radius: 5px;
     
   
    
    }
   
   .title{  
     text-align: center;
     padding: 10px;

    }
   
   h1{
     font-size: 20px;
    }
   
   .des{
     padding: 3px;
     text-align: center;
    
     padding-top: 10px;
           border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }


   