table {
    border-collapse: collapse;
    width: 100%;
    color: #8c7c58;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
    }
    th {
    background-color: #e3770b;
    color: white;
    }
    tr:nth-child(even) 
    {
        background-color: #f2f2f2
    }