.root {
    --slide-height: 50vh;
    --slide-width: 50vw;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: url("../Img/animals4.jpg");
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#super-container {
    background-image: url("../Img/animals4.jpg");
    font-size: clamp(1rem, 1.15vw + .5rem, 1.4rem);
}

#container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 15vh;
    columns: 1;
    padding: 10px;
    margin-inline: max(0px, 5vw - 2.5vh);
    background-color: white;
}

#search {
    order: 1;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    text-align: center;
    display: block;
    float: right;
    padding: 6px;
    border: none;
    font-size: 17px;
}

#search input[type=text] {
    width: 60vw;
    height: max(3vh, 25px);
}

#search input[type=button] {
    height: max(3vh, 25px);
}

#slide-show {
    order: 2;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    width: 100%;
    text-align: center;
    align-content: center;
    max-width: 70vw;
    max-height: 140vh;
    margin-top: -10vh;
}

.slides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 80vh; /*TODO: Make it responive*/
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 14.5vw;/*TODO: Make it responive*/
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 14.5vw;/*TODO: Make it responive*/
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

#animalgrid {
    order: 3;
    flex-grow: 2;
    flex-shrink: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: flex-start;
    gap: 10px 20px;
    columns: 5;
    flex-basis: auto;
    align-self: center;
    width: 100%;
}

.griditem {
    order: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    text-align: center;
    max-width: max(100%, 5vw - 2.5vh);
}

.griditem figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding-top: 2px;
    text-align: center;
    display: block;
}

.griditem img {
    max-height: min(15vh, 200px);
    object-fit: cover;
}