*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner{
    width: 100%;
    height: 100%;
    background-image: url("/Img/animals4.jpg");
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: -12px;
  }
  
  .navbar ul li h1{
    color:wheat;
    font-size: 20px;
  }

.navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}

#info-block-container{
    background-image: url("/Img/animals4.jpg");
    font-size: clamp(1rem, 1.15vw + .5rem, 1.4rem);
}

#info-block{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 20px;
    column-gap: 20px;
    columns: 2;
    padding: 10px;
    margin-inline: max(0px, 5vw - 2.5vh);
    background-color: white;
}

#animal-profile{
    order: 1;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    margin-top: 3.5rem;
    width: 250px;
    text-align: center;
}
#animal-profile img{
    box-shadow: 0px 10px 5px #ccc;
    max-width: 65%;
    max-height: 65%;
}

#animal-text{
    order: 2;
    flex-grow: 4;
    flex-shrink: 2;
    flex-basis: auto;
    align-self: auto;
    padding: 20px;
    margin: 10px;
    width: 300px;
    color: black;
}

#animal-text h1{
    color: gold;
    line-height: 4rem;
}